<section>
    {{#each this}}
    <div class="card m-3">
        <div class="card-body">

            <h5 class="card-title">{{user.username}} said</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{format_date created_at}}</h6>

            <p class="card-text">
                {{comment_text}}
            </p>

        </div>
    </div>
    {{/each}}
</section>